body{
background-color: lightblue;
}


h1 {
color:darkblue;
text-align: center;
font-family: arial, sans-serif;
font-size: 3rem;
border: 2px solid navy;
padding: 20px;
margin: 40px;

}

p{
font-family: 'Times New Roman', Times, serif;
color: darkred;
font-size: 1.5rem;
text-align: center;
margin-top: -20px;
}

button {
padding: 12px 24px;
font-size: 1,1rem;
background-color: darkblue;
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
margin-top: 20px;
}

button:hover {
background-color: navy;
transform: scale(1.05);
}